*{
    font-family: monospace;
}

/*This allows the image to shrink and expand*/
img{
    flex-wrap: wrap;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header-links,
.header-logo{
    display: flex;
    flex: 0 0 auto;
    padding: 0;
}

.header-links{
    gap: 8px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.below-header{
    display: flex;
} 

.image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image-text-box,
.random-image{
    width: 150px;
    height: 150px;
}

.random-information .text{
    text-align: center;
}

.random-information{
    margin-top: 96px;
    margin-bottom: 96px;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    width: 600px;
}

.quote .text{
    display: flex;
    justify-content: flex-end;
}